@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body,
h1, h2, h3, h4, h5, h6,
button, input, div, span, p {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}