@mixin shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  margin: 8px 0;
  width: 100%;
  height: 32px;
  background: teal;
}

.site-layout-background {
  background: #fff;
}

.action-nav-layout {
  background: #1562ae;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  .nav-layout-margin {
    margin: 16px 0;
  }
}

.header-layout {
  width: calc(100% - 280px);
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.section-layout {
  padding-top: 16px;
}

.login-form {
  @include shadow;
  width: 350px;
  padding: 16px;
}

.add-album-button {
  @include shadow;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-photo-button {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-card {
  @include shadow;
}

.album-thumbnail {
  height: 64px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(149, 185, 193, 0.3);
  cursor: pointer;
  position: relative;

  .album-thumbnail-legend {
    position: absolute;
    right: 8px;
    top: 0;

    span {
      margin-left: 8px;
    }
  }

  .album-thumbnail-header {
    display: flex;
    align-items: center;
  }

  .album-thumbnail-icon {
    margin: 8px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.new-album-form {
  margin: 32px;
  .ant-btn {
    float: right;
    margin-left: 8px;
    margin-top: 8px;
  }
}

.ant-popover-inner-content {
  padding: 0;
}
.folder-actions {
  display: flex;
  flex-direction: column;

  button {
    border-color: transparent;
    text-align: left;
    span:first-child {
      margin-right: 8px;
    }
    &:hover,
    &:focus {
      border-color: transparent;
    }
  }

  [ant-click-animating-without-extra-node]:after {
    animation: none !important;
  }
}

.short-form-modal {
  .ant-modal-content {
    border-radius: 16px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: 0;
  }

  .ant-modal-header {
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
  }
}

.color-group-popover {
  padding: 8px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.photo-thumbnail {
  border: 0;

  .ant-card-cover {
    height: 150px;
    img {
      height: 150px;
      object-fit: contain;
    }
  }
}

.button-on-hide {
  border: 0;
  outline: none;
  background: transparent;
  color: black;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
  &:focus {
    outline: 1px solid #1890ff;
  }
}

.photo-info-wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px 0;

  .photo-info-label {
    margin-right: 8px;
  }

  .photo-info-content {
    color: rgba(0, 0, 0, 0.6);
  }
}

.photo-info-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 16px;
  }
}

.explore-photo {
  position: relative;

  .explore-photo-detail {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    .photo-username {
      position: absolute;
      bottom: 8px;
      left: 8px;
      padding: 8px;
      color: white;
      & > span {
        margin-bottom: 2px;
        margin-right: 8px;
      }
    }

    .photo-download {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 8px;
    }
  }
}

.category-tag {
  @include shadow;
  text-transform: capitalize;
}

.ant-breadcrumb {
  font-size: 1rem;
}
